/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.portfolio__title, .privilege__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
body.modal-open {
  overflow: hidden;
}
body.scroll-off {
  overflow: hidden;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 479.98px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 767.98px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1199.98px) {
  .container {
    width: 1200px;
  }
}

h2 {
  margin: 0;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1199.98px) {
  h2 {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

section {
  padding: 94px 0px;
}
@media screen and (max-width: 1199.98px) {
  section {
    padding: 60px 0;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.privilege__title {
  color: #212121;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (min-width: 767.98px) {
  .privilege__benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1199.98px) {
  .privilege__benefits-list {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767.98px) {
  .privilege__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767.98px) {
  .privilege__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1199.98px) {
  .privilege__item {
    width: calc((100% - 90px) / 4);
  }
}

.privilege__block {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.privilege__info-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767.98px) {
  .privilege__info-title {
    text-align: center;
  }
}

.privilege__info-text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2727272727;
}
.logo__studio {
  color: #000;
}
.logo__studio-footer {
  color: #ffffff;
}
@media screen and (min-width: 1199.98px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 767.98px) {
  .header__container {
    justify-content: space-between;
  }
}
.header__menu-list {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 767.98px) {
  .header {
    height: 60px;
  }
}

.header__menu {
  margin-left: 87px;
}
@media screen and (max-width: 767.98px) {
  .header__menu {
    display: none;
  }
}

.header__contacts-list {
  margin-left: auto;
}
@media screen and (min-width: 1199.98px) {
  .header__contacts-list {
    display: flex;
  }
}
@media screen and (max-width: 767.98px) {
  .header__contacts-list {
    display: none;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .header__contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1199.98px) {
  .header__contacts-item:not(:first-child) {
    margin-left: 50px;
  }
}

.header__menu-link {
  position: relative;
  padding: 32px 2px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu-link:hover, .header__menu-link:focus {
  color: #2196f3;
}
.header__menu-link--active {
  color: #2196f3;
}
.header__menu-link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header__contacts-link {
  display: inline-flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-link:hover, .header__contacts-link:focus {
  color: #2196f3;
}

.header__contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 120px 0;
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-mob@2x.jpg");
  }
}
@media screen and (min-width: 479.98px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-tab.jpg");
  }
}
@media screen and (min-width: 479.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 479.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 479.98px) and (min-resolution: 192dpi), screen and (min-width: 479.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-tab@2x.jpg");
  }
}
@media screen and (min-width: 767.98px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-desk.jpg");
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-desk@2x.jpg");
  }
}
@media screen and (min-width: 1199.98px) {
  .hero {
    height: 600px;
    padding: 200px 0;
  }
}

.hero__title {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1199.98px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}

.features__title {
  text-align: center;
}
.features__examples-list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1199.98px) {
  .features {
    display: none;
  }
}

.features__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.features__img {
  display: block;
}

.features__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.features__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}
.team__img {
  display: block;
}
.team__title {
  text-align: center;
}

@media screen and (min-width: 767.98px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1199.98px) {
  .team__list {
    flex-wrap: nowrap;
  }
}

.team__item {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767.98px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767.98px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1199.98px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__info {
  padding: 30px 0 24px 0;
}
@media screen and (min-width: 1199.98px) {
  .team__info {
    padding: 30px 0 30px 0;
  }
}

.team__info-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__info-text {
  font-size: 16px;
  line-height: 1.18;
  margin: 0 0 16px 0;
}

.team__social-list {
  display: flex;
  justify-content: center;
  margin: -5px;
}

.team__social-item {
  margin: 5px;
  width: 44px;
  height: 44px;
}

.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}
.team__social-link--white {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.team__social-icon {
  fill: currentColor;
}

.clients__title {
  text-align: center;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 767.98px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1199.98px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  /* width: 170px;
  height: 92px; */
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 1199.98px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1199.98px) {
  .footer__wrapper {
    display: flex;
    align-items: baseline;
  }
}

.footer__adress {
  margin-top: 20px;
  font-style: normal;
}

.footer__adress-item {
  margin-bottom: 9px;
}
.footer__adress-item:last-child {
  margin-bottom: 0;
}

.footer__adress-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__adress-link:hover, .footer__adress-link:focus {
  color: #2196f3;
}
.footer__adress-link-gray {
  color: rgba(255, 255, 255, 0.6);
}

.footer__join {
  margin-top: 60px;
}
@media screen and (min-width: 767.98px) {
  .footer__join {
    margin-top: 0;
  }
}
@media screen and (min-width: 1199.98px) {
  .footer__join {
    margin-left: 95px;
  }
}

.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  margin: -5px;
}

.footer__social-item {
  margin: 5px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: #2196f3;
}
.footer__social-link--white {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer__social-icon {
  fill: currentColor;
}

.footer__form {
  margin-top: 60px;
}
@media screen and (min-width: 1199.98px) {
  .footer__form {
    display: flex;
    margin-left: 93px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1199.98px) {
  .footer__form-field {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 358px;
  }
}

.footer__label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1199.98px) {
  .footer__input {
    margin-bottom: 0;
  }
}

.footer__button {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 1199.98px) {
  .footer__button {
    margin-top: 36px;
    margin-left: 12px;
  }
}

.footer__icon {
  margin-left: 10px;
  fill: currentColor;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  background-color: #ffffff;
  overflow: auto;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile.is-open {
  transform: translateX(0);
}
@media screen and (min-width: 767.98px) {
  .mobile {
    display: none;
  }
}

.mobile__menu {
  margin-bottom: auto;
}

.mobile__menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile__menu-link:hover, .mobile__menu-link:focus {
  color: #2196f3;
}
.mobile__menu-link--active {
  color: #2196f3;
}

.mobile__contact-list {
  margin-bottom: 64px;
}

.mobile__contact-mail {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

.mobile__contact-tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile__social-list {
  display: flex;
  flex-wrap: wrap;
}

.mobile__social-item {
  padding: 0px 10px;
}
.mobile__social-item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile__social-item:first-child {
  padding-left: 0;
}

.mobile__social-link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 5;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 767.98px) {
  .menu-button {
    display: none;
  }
}
.menu-button:hover, .menu-button:focus {
  color: #2196f3;
}
.menu-button svg {
  fill: currentColor;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-burger {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  padding: 94px 15px;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) perspective(500px) translateY(-100%) rotateX(45deg);
}

.modal {
  position: relative;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms ease;
}
@media screen and (min-width: 479.98px) {
  .modal {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 767.98px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(500px) translateY(0%) rotateX(0deg);
    margin: 0;
  }
}
@media screen and (min-width: 1199.98px) {
  .modal {
    width: 528px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal__item {
  margin-bottom: 10px;
}
.modal__item:last-child {
  margin-bottom: 20px;
}

.modal__label {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  display: block;
  width: 100%;
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.modal__input:focus + .modal__svg {
  fill: #2196f3;
}

.modal__svg {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.policy {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1199.98px) {
  .policy {
    font-size: 14px;
    padding-left: 12px;
  }
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.policy__checkbox:checked + .policy__icon {
  background-color: #2196f3;
  background-image: url(../image/check.svg);
  background-size: contain;
  border-color: #2196f3;
  background-origin: border-box;
}

.policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.modal__link {
  color: #2196f3;
  text-decoration: underline;
}

.modal__button {
  display: flex;
  margin: 0 auto;
  padding: 10px 52px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover {
  fill: #2196f3;
}

.modal__icon {
  color: currentColor;
}

.portfolio__filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 767.98px) {
  .portfolio__filter-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1199.98px) {
  .portfolio__filter-list {
    margin-bottom: 50px;
  }
}

.portfolio__filter-item {
  margin-bottom: 15px;
  margin-right: 8px;
}
.portfolio__filter-item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 767.98px) {
  .portfolio__filter-item {
    margin-bottom: 0;
  }
}

.portfolio__filter-btn {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
  box-shadow: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filter-btn:hover, .portfolio__filter-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 767.98px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.portfolio__item {
  border: 1px #eeeeee solid;
}
.portfolio__item:hover .portfolio__overlay {
  transform: translateY(0);
}
@media screen and (min-width: 767.98px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1199.98px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (max-width: 767.98px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio__link {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio__wrapper img {
  display: block;
}

.portfolio__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__subtext {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio__info {
  padding: 20px 24px;
  text-align: left;
}

.portfolio__info-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
}

.portfolio__info-text {
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}/*# sourceMappingURL=main.css.map */