@import './base/normalize';
@import './utils/variables';
@import './utils/placeholders';
@import './base/common';
@import './layout/privilege';
@import './components/logo';

@import './components/header';
@import './layout/hero';
@import './layout/_features';
@import './layout/team';

@import './layout/_clients';
@import './components/footer';
@import './components/mobile-menu';
@import './components/modal';
@import './layout/portfolio';
