.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__container {
  //   display: flex;
  //   align-items: baseline;
  text-align: center;
  @media screen and(min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer__wrapper {
  @media screen and(min-width: $tablet) and (max-width: $desktop) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and(min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer__adress {
  margin-top: 20px;
  font-style: normal;
}

.footer__adress-item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}
.footer__adress-link {
  color: $white-color;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &-gray {
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer__join {
  //   margin-left: 95px;
  margin-top: 60px;
  @media screen and(min-width:$tablet) {
    margin-top: 0;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 95px;
  }
}
.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  margin: -5px;
}
.footer__social-item {
  margin: 5px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: $white-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &--white {
    background-color: rgba(255, 255, 255, 0.1);
    color: $white-color;
  }
}
.footer__social-icon {
  fill: currentColor;
}

// footer-form

.footer__form {
  //   display: flex;
  //   margin-left: 93px;
  margin-top: 60px;
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: 93px;
    margin-top: 0;
  }
}
.footer__form-field {
  //   display: flex;
  //   flex-direction: column;
  //   width: 358px;

  @media screen and(min-width: $desktop) {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 358px;
  }
}
.footer__label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: $white-color;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and(min-width: $tablet) and(max-width: $desktop) {
    width: 450px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.footer__button {
  color: $white-color;
  background-color: $accent-color;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  //   margin-left: 12px;
  //   margin-top: 36px;
  margin: 0 auto;
  @media screen and (min-width: $desktop) {
    margin-top: 36px;
    margin-left: 12px;
  }
}
.footer__icon {
  margin-left: 10px;
  fill: currentColor;
}
