body {
  color: $primary-text-color;
  background-color: $white-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  &.modal-open {
    overflow: hidden;
  }
  &.scroll-off {
    overflow: hidden;
  }
}

.container {
  padding: 0px 15px;
  margin: 0 auto;

  @media screen and(min-width: $mobile) {
    width: 480px;
  }

  @media screen and(min-width: $tablet) {
    width: 768px;
  }

  @media screen and(min-width: $desktop) {
    width: 1200px;
  }
}

h2 {
  margin: 0;
  color: $title-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @media screen and(min-width: $desktop) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  //   color: $white-color;
  //   background-color: $accent-color;
  //   cursor: pointer;
  //   font-weight: 700;
  //   font-size: 16px;
  //   line-height: 1.87;
  //   letter-spacing: 0.06em;
  //   border: none;
  //   border-radius: 4px;
  //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

section {
  padding: 94px 0px;
  @media screen and(max-width: $desktop) {
    padding: 60px 0;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
